boto3==1.21.45
# structlog
botocore==1.24.45
# jupyter_client==7.2.2
ipython
ipykernel
# notebook==6.4.11
# pandas==1.3.5
papermill==2.3.4
# scikit-learn
matplotlib
RelevanceAI[notebook, umap]==2.1.6
vectorhub[clip]>=1.8.3
vectorhub[encoders-text-sentence-transformers]>=1.8.3
vectorhub[encoders-image-tfhub]>=1.8.3
protobuf==3.20.1
